name: Auto-Format

on:
  workflow_dispatch:
  push:
    branches: [master]
    paths-ignore:
      - "**.lock"
      - "home/**"
      - "*.md"

concurrency:
  group: format-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write
  pull-requests: write

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: DeterminateSystems/nix-installer-action@v20
      - uses: DeterminateSystems/magic-nix-cache-action@v1

      - run: nix fmt

      - run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - uses: peter-evans/create-pull-request@v7
        with:
          commit-message: "chore: auto-format"
          title: "chore: auto-format"
          branch: auto-format
          delete-branch: true
          labels: automerge
