name: Update flake locks

on:
  workflow_dispatch:
  schedule:
    - cron: "3 0 * * *"

permissions:
  contents: write
  pull-requests: write

jobs:
  update-lockfile:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@v20
      - uses: DeterminateSystems/update-flake-lock@v27
        with:
          pr-title: "chore: update flake locks"
          pr-labels: dependencies
          commit-msg: "chore: update flake locks"
