name: "CD: Update submodules"
on:
  repository_dispatch:
  workflow_dispatch:
  schedule:
    - cron: "51 2 * * *"

jobs:
  update-submodules:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: runsascoded/update-submodules@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
